body
	{background-color: #787978;}
.complete{
	background-color: yellow;
}
.inprogress{
	background-color: rgba(84,204,45,0.5);
}
.undone{
	background-color: pink;
}
#primarylist li{
	font-weight: :bold;
	font-size: :12pt;
	font-family: sans-serif;
	letter-spacing: :12px;
	line-height: 20px;
	font-style: italic;
}

